<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="/" class="logo d-flex align-items-center">
      <img src="/assets/img/mundo.png" alt="">
      <span>Passaport to life</span>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="/">Início</a></li>
        <li><a class="nav-link scrollto" href="/descricao">Descrição</a></li>
        <li><a class="nav-link scrollto" href="/conteudo">Conteúdo</a></li>
        <li><a class="nav-link scrollto" href="/desenvolvedora">Desenvolvedora</a></li>
        <li><a class="nav-link scrollto" href="/doacao">Doação</a></li>
        <li><a class="nav-link scrollto" href="/avaliar">Avaliação</a></li>
        <li><a class="nav-link scrollto" href="/listar">Usuários</a></li>

        <% if (!Admin) { %>
          <li><a class="getstarted scrollto" href="/login">Login</a></li>
        <% } %>

        <% if (Admin) { %>
          <ul class="header-nav ms-auto">
            <li class="nav-item dropdown pe-3">

              <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown">
                <img src="/assets/fotos/<%= Admin.foto ? Admin.foto : 'default.png' %>"
                     style="object-position: center; object-fit: cover;"
                     class="rounded-circle">
                <span class="d-none d-md-block dropdown-toggle ps-2">
                  <%= Admin.nome1 %> <%= Admin.nome2 %>
                </span>
              </a>

              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li class="dropdown-header">
                  <h6><%= Admin.nome1 %> <%= Admin.nome2 %></h6>
                  <span><%= Admin.profissao %></span>
                </li>

                <li>
                  <a class="dropdown-item d-flex align-items-center" href="/perfil">
                    <i class="bi bi-person"></i><span>My Profile</span>
                  </a>
                </li>

                <li><hr class="dropdown-divider"></li>

                <li>
                  <a href="/logout" class="dropdown-item d-flex align-items-center">
                    <i class="bi bi-box-arrow-right"></i><span>Log out</span>
                  </a>
                </li>
              </ul>

            </li>
          </ul>
        <% } %>

      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
