<%- include('cabecalho2') -%>

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Educação, o passaporte para vida</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">
          “O conceito de sistema único de educação ou mesmo o de sistema unificado de educação
          tem como desafio maior o horizonte da igualdade, cujo motor maior não se radica na escola,
          mas no próprio sistema social.” (CURY, 2008, p.3).
        </h2>

        <% if (!Admin) { %>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="/login" class="btn-get-started scHomerollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Login</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
        <% } %>
      </div>

      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <div class="member-img">
          <img src="/assets/img/logo.png" class="img-fluid social" alt="Logo">
        </div>
      </div>
    </div>
  </div>
</section><!-- End Hero -->

<!-- Script global para saber se o usuário está logado -->
<script>
    window.loggedIn = <%= Admin ? 'true' : 'false' %>;
    window.userNickname = "<%= Admin ? Admin.username : '' %>";
</script>

<!-- Chat flutuante -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>

<%- include('chat') -%>
<%- include('rodape') -%>
